# Blender files
*.blend[0-9]

# Python temp paths
__pycache__/
*.py[cod]

# Ignore specific file types in test-files directory
test-files/*.gltf
test-files/*.json

# Ignore the tileset folder within the test-files directory
test-files/tileset/
test-files/animation/
test-files/textures/
test-files/park.glb
